.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
    background-image: url('./background.webp');
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.ctaButton {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0066cc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ctaButton:hover {
    background-color: #0055aa;
}